:root {

--fuente: 'Open Sans', sans-serif;
--colorFondo: #FFFFFF;
--colorFuente: #FFFFFF;
--colorBanner2: #F7F7F7;
--colorBannerFont: #333333;
--colorBannerFondo: #2E81F4;
--colorNav: #111111;
--bottonNav: #dddddd; 
--colorFooter: #111111;
--colorTextoFooter: #999999;

}

