:root {

--fuente: 'Open Sans';
--colorFondo: #FFFFFF;
--colorFuente: #FFFFFF;
--colorBanner2: #F7F7F7;
--colorBannerFont: #333333;
--colorBannerFondo: #2E81F4;
--colorNav: #111111;
--bottonNav: #dddddd; 
--colorFooter: #171717;
--colorTextoFooter: #999999;
--textoShop: #111111;
--precioShop: #999999;

}

/* Fuentes */


@font-face {
    font-family: 'Open Sans';
    src: url("../../fonts/OpenSans-Regular.woff2") format('woff2');
    font-weight: 400;
    font-style: normal;
    }

@font-face {
    font-family: 'Open Sans';
    src: url("../../fonts/OpenSans-Bold.woff2") format('woff2');
    font-weight: 700;
    font-style: normal;
}